<div class="card m-3" matRipple [matRippleTrigger]="trigger">
  <img
    #trigger
    class="card-img-top"
    [src]="pokemon?.sprite"
    [alt]="pokemon?.name"
    (click)="cardClicked()"
  />
  <span class="card-body" fxLayout="row" fxLayoutAlign="space-between end">
    <h5 class="card-title">
      #{{ pokemon?.nr }} {{ pokemon?.name | titlecase }}
    </h5>
    <app-pokemon-favorite-button
      [favorite]="favorite"
      (click)="starClicked()"
    ></app-pokemon-favorite-button>
  </span>
</div>
