<app-header subTitle="National"></app-header>
<app-loader [isLoading]="loading$ | async">
  <div class="container">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <app-pokemon-list
        [favorites]="favorites$ | async"
        [pokemons]="pokemons$ | async"
        (displayDetails)="cardClicked($event)"
        (toggleFavorite)="starClicked($event)"
      ></app-pokemon-list>
      <footer class="my-2" fxLayout="row" fxLayoutAlign="center center">
        <button
          type="button"
          class="btn btn-primary"
          (click)="loadMore()"
          [disabled]="!(hasMore$ | async)"
        >
          Load More
        </button>
      </footer>
    </div>
  </div>
</app-loader>
